{% extends "site_base.html" %}
{% block title %}
	Моя страница
{% endblock %}
{% block menu %}
	{% include "site_menu.html" %}
{% endblock %}
{% block body %}
    <div class="content">
        <p style="text-indent:20px">
        Добро пожаловать на мою страницу!</p>
        <p style="text-indent:20px">Сегодня {{date}}, а Python у Вас всего-навсего {{python_ver}} - нашли чем удивить :-)</p>
        <form method="GET" action="hello">
            <p>Если хотите оставить отзыв - напишите как вас зовут?
                <input name="username" required> <input type="submit" value="Поприветствовать"></p>
        </form>
    </div>
{% endblock %}